.destinations {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 170px 0;

  &__container {
    display: inline-flex;
    flex-direction: column;
    gap: 55px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    @include maxMobile {
      flex-direction: column;
      align-items:center;
      gap: 35px;
    }
  }

  &__title {
    @include maxMobile {
      font-size: rem(50);
      text-align: center;
    }
  }

  &__expand {
    display: flex;
    align-items: center;
    gap: 10px;

    color: $orange-1;
    font-size: 17px;
    font-weight: 600;

    i {
      font-size: 14px;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform $Transition;
    }

    @include maxMobile {
      font-size: rem(24);
    }
  }

  &__gallery {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__gallery-item {
    position: relative;

    img {
      max-height: 330px;
      width: auto;

      border-radius: 8px;
    }

    figure {
      background-color: $white;

      position: absolute;
      bottom: 0;
      left: 0;

      border-top-right-radius: 8px;
    }
  }

  &__gallery-link {
    transition: all $Transition;

    &:hover {
      transform: scale(1.1);
      filter: grayscale(50%);
      -webkit-filter: grayscale(50%);
      -moz-filter: grayscale(50%);
    }
  }

  &__gallery-figure-title {
    color: $black-3;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
  }

  &__gallery-figure-text {
    color: $gray-4;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
  }
}
