.testimonials {
  margin: 0 0 210px 0;

  &__container {
    @include noMarginBottom;
  }
  &__title {
    margin: 0 0 44px 0;

    @include maxMobile {
      font-size: rem(50);
      text-align: center;
    }
  }
  &__swiper {
  }
  &__swiper-wrapper {
  }
  &__swiper-slide {
    padding: 20px 20px 20px 0;
  }

  &__swiper-controls {
    background-color: $white;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;

    border-radius: 16px 0 0 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 22px;

    padding: 20px 0 0 30px;

    @include maxMobileSmall {
      padding: 10px 0 0 10px;
      gap: 12px;
    }
  }

  &__swiper-btn-prev,
  &__swiper-btn-next {
    width: 40px;
    height: 40px;
    border: 2px solid $black;
    border-radius: 50%;

    color: $black;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $white;
      background-color: $black;
      transition: all $Transition;
    }
  }

  &__swiper-btn--disabled {
    pointer-events: none;
    color: $gray-6;
    border: 2px solid $gray-6;
  }
}
