.header {
  padding: 35px 0;

  margin: 0 0 72px 0;

  &__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include maxMobile {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, auto);
    }
  }

  &__logo {
    width: auto;
    height: 40px;

    @include maxMobile {
      grid-row: 1/2;
      grid-column: 1 / 2;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 34px;

    @include maxMobile {
      grid-row: 2 / 3;
      grid-column: 1 / 3;

      display: none;
      flex-direction: column;
      gap: 60px;

      margin: 100px 0 0 0;
    }

    &--active {
      display: flex;
      animation: slide-in-elliptic-top-fwd 0.7s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  &__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 35px;

    @include maxMobile {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__menu-list-link {
    color: $gray-1;
    font-weight: 500;
    line-height: calc(19 / 16 * 100%);

    &:hover {
      color: $black-1;
      transition: color $Transition;
    }

    @include maxMobile {
      font-size: 45px;
    }

    @include maxMobileSmall {
      font-size: 36px;
    }
  }

  &__menu-auth {
    display: flex;
    gap: 18px;

    @include maxMobile {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__auth-login,
  &__auth-register {
    width: 132px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 120%;
    border-radius: 8px;

    padding: 10px;

    transition: all $Transition;
    overflow: hidden;

    &:hover {
      opacity: 0.5;
    }

    @include maxMobile {
      font-size: 22px;
      width: 220px;
      height: 60px;
    }

    @include maxMobileSmall {
      width: 180px;
    }
  }

  &__auth-login {
    color: $orange-1;
    border: 1px solid $orange-1;
  }

  &__auth-register {
    background-color: $orange-1;
    color: $white;
  }

  &__icon-menu {
	  justify-self: end;
  }
}

.icon-menu {
  display: none;

  position: relative;
  width: rem(30);
  height: rem(18);
  cursor: pointer;
  z-index: 5;

  &:hover {
    span,
    &:before,
    &:after {
      background-color: $orange-1;
    }
  }

  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(2);
    background-color: #000;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50% - rem(1));
  }

  &--toggled {
    span {
      width: 0;
    }

    &::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - rem(1));
      transform: rotate(45deg);
    }
  }

  @media (max-width: $mobile) {
    display: block;
  }
}
