@use "sass:math";

@import "base/mixins";

@import "fonts/fonts";
@import "fonts/fontawesome/fontawesome";
@import "fonts/fontawesome/solid";
@import "fonts/fontawesome/brands";

@include font("Inter", "Inter-Bold", 700, normal);
@include font("Inter", "Inter-Medium", 500, normal);
@include font("Inter", "Inter-Regular", 400, normal);
@include font("Inter", "Inter-SemiBold", 600, normal);

@include font("Mulish", "Mulish-Light", 300, normal);
@include font("Mulish", "Mulish-Regular", 400, normal);
@include font("Mulish", "Mulish-Bold", 700, normal);

@include font("Playfair Display", "PlayfairDisplay-Bold", 700, normal);

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Inter", sans-serif;
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: rgba(125, 121, 135, 1); // Цвет шрифта по умолчанию
$gray-1: rgba(184, 190, 205, 1);
$gray-2: rgba(132, 132, 132, 1);
$gray-3: rgba(74, 76, 83, 1);
$gray-4: rgb(128, 145, 142);
$gray-5: rgba(175, 176, 185, 1);
$gray-6: rgba(215, 215, 215, 1);
$gray-7: rgba(196, 196, 196, 1);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$black-1: rgba(32, 35, 54, 1);
$black-2: rgba(0, 0, 0, 1);
$black-3: rgb(4, 37, 33);

$orange-1: rgba(251, 143, 29, 1);
$orange-2: rgb(255, 187, 12);

$green-1: #1ABE84;

// Transition Settings

$Transition: 0.15s ease-in;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1220;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
  background: white;
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: #ffb64800;
}

body::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.904);
}

body::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 25px;
  background: rgba($green-1, 0.9); 
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "animations";
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "sections/explore";
@import "sections/learn";
@import "sections/destinations";
@import "sections/guides";
@import "sections/testimonials";
@import "sections/stories";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
